<div id="main">
	<ul id="word-list">
		<li><%= @start_word %></li>
		<li><%= @word1 %></li>
		<li><%= @word2 %></li>
		<li><%= @word3 %></li>
		<li><%= @word4 %></li>
		<li><%= @word5 %></li>
		<li><%= @end_word %></li>
	</ul>
</div>